<div class="container">
    <div class="text-container">
        <div class="title">
            <h1>About me</h1>
        </div>
        <p>Hi, I am a Front-end deverloper based in München, Germany(....)Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut auctor sem non tempus convallis. Integer et justo vitae urna finibus eleifend sit amet porttitor sapien. Donec sollicitudin massa vel lorem vestibulum efficitur. </p>
        <div class="bullet-points">
            <div class="d-flex txt">
                <img src="./../../../assets/images/signs-symbols/bigbulb-blue.png" alt="">
                <p>Some personal thing to share(...) Donec ut imperdiet diam, et convallis neque. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.</p>
            </div>
            <div class="d-flex txt">
                <img src="./../../../assets/images/signs-symbols/bigpuzzle-blue.png" alt="">
                <p>Some personal thing to share(...) Donec ut imperdiet diam, et convallis neque. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.</p>
            </div>
        </div>
    </div>

    <div>
        <img src="./../../../assets/images/bg-long.png" alt="">
    </div>
</div>
