<div id="About_me" class="container">
    <div class="text-container">
        <div class="about">
            <h1 data-translate-key="Header_me">About me</h1>
        </div>
        <p data-translate-key="me-txt">Hi, I am a Front-end deverloper based in Frankfurt, Germany and I developed an interest in programming through entry level courses in university. Gradually, I realised my passion when working on front-end projects during the training at the Developer Academy. <br></p>
        <div class="bullet-points">
            <div class="d-flex txt">
                <img class="bulb" src="assets/images/signs-symbols/bigbulb-blue.png" alt="">
                <p data-translate-key="point1">One of the favourite things I love about working as a front-end developer is that you can develop your own ideas, limited only by your own imaginations and then implement those ideas in reality through code while getting instant visual feedback on your work and the value that you have created.</p>
            </div>
            <div class="d-flex txt">
                <img src="assets/images/signs-symbols/bigpuzzle-blue.png" alt="">
                <p data-translate-key="point2">To me, time passes by really quickly while I code and every problem I solve feels like another puzzle piece that finds itself in its rightful place. Typically, the satisfaction when solving a puzzle is the greatest when the problem has been especially tricky to handle.</p>
            </div>
        </div>
    </div>
    
    <div data-aos="fade-up" class="d-flex bg-shape dnone">
        <img class="profile" src="assets/images/bg-long.png" alt="">
    </div>
</div>
