.container{
    display: flex;
    justify-content: center;
}

.data {
    padding-top: 87px;
    // margin-left: 40px;
    padding-bottom: 28px;
    position: relative;
    width: 100%;
    max-width: 1440px;

    color: white;

    a{
        text-decoration: none;
    }

    h1, h2, h3{
        word-wrap: break-word;
    }
}

.data a {
    color: blue;
    word-wrap: break-word;
}

.data a:hover {
    color: blue;
    text-decoration: underline;
}

.data h1 {
    display: block;
    font-size: 2em;
    margin-block-start: 0.67em;
    margin-block-end: 0.67em;
}

.data h2 {
    display: block;
    font-size: 1.5em;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
}

.data h3 {
    display: block;
    font-size: 1.17em;
    margin-block-start: 1em;
    margin-block-end: 1em;
}

.title-return{
    display: flex;
    justify-content: space-between;
}

.pointer{
    cursor: pointer;
}

// @media(min-width: 1550px){
//     .data{
//         margin-left: 40px;
//     }
// }
@media(max-width: 1550px){
    .data{
        margin-left: 40px;
    }
}
@media(max-width: 1440px){
    .data{
        margin-left: 25px;
    }
}
@media(max-width: 992px){
    .data{
        margin-left: 15px;
    }
}

@media(max-width: 450px){
    .data{
        h1{
            font-size: 1.5em;
        }
    }
}