<div class="header" [ngClass] = "screenWidth < 992 ? 'padding-mobile' : 'padding-desktop'">
    <span>Iqbal Adel</span>
    <img [class.d-none]="!mobile" src="./../../assets/images/burger menu.png" alt="">
    <div [class.d-none]="mobile">
        <a href="#me">About me</a>
        <a href="#skills">Skills</a>
        <a href="#portfolio">Portfolio</a>
        <a href="#contact">Contact</a>
    </div>

</div>
    <p>Screen width: {{ screenWidth }}</p>  
    <p>Screen height: {{ screenHeight }}</p>  