<div class="footer">
    <div class="desktop-imprint">
        <a href="#menu">Iqbal Adel</a>
        <a href="imprint" class="imprint hide">Impressum</a>
    </div>
    <span>&#169; Iqbal Adel 2024</span>
    <div class="icons-div">
        <img class="icon" src="assets/images/icons/gitsmall.svg" alt="">
        <img class="icon" src="assets/images/icons/mailsmall.svg" alt="">
        <img class="icon" src="assets/images/icons/linksmall.svg" alt="">
    </div>
    <a href="imprint" class="imprint d-none">Impressum</a>
</div>
