<div class="footer">
    <div class="desktop-imprint">
        <a href="#menu">Iqbal Adel</a>
        <a data-translate-key="imprint" routerLink="/imprint" fragment="imprint" [ngClass]="getFooterClass()" class="imprint hide">Impressum</a>
    </div>
    <span>&#169; Iqbal Adel 2024</span>
    <div class="icons-div">
        <a rel=”noreferrer” target="_blank" href="https://github.com/IqbalAdel">
            <img class="icon" src="assets/images/icons/gitsmall.svg" alt="">
        </a>
        <a href="mailto:Iqbal.Adel97@gmx.de">
            <img class="icon" src="assets/images/icons/mailsmall.svg" alt="">
        </a>
        <a rel=”noreferrer” target="_blank" href="https://www.linkedin.com/in/iqbal-adel97/">
            <img class="icon" src="assets/images/icons/linksmall.svg" alt="">
        </a>
    </div>
    <a data-translate-key="imprint" routerLink="/imprint" fragment="imprint" [ngClass]="getFooterClass()" class="imprint d-none">Impressum</a>
</div>
