@import './../../../styles.scss';

.d-column{
    @include dFlex($r: column);
}

*{
    background-color: transparent;
}
.container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 1440px;
    height: auto;
    a{
        text-decoration: none;
    }

    button{
        height: 58px;
        background-color: #00BEE8;
        transition: all 125ms ease-in-out;
        &:hover{
            background-color: #4B47FF;
            transform: scale(1.15);
            transform-origin: top center;
        }
        color: white;
        border-radius: 10px;
        padding: 15px 30px 15px 30px;
        border: none;
        font-size: 23px;
        cursor: pointer;
        display: flex;
        align-items: center;
        
    }
}

.grid-skills{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 100px;
    margin-left: 40px;
}

.skill{
    @include dFlex($r: column);
    gap: 5px;
}

.c8{
    grid-area: 3 / 1;
}

.btn-desktop{
    margin-top: 30px;
    display: inline-flex;
    align-items: flex-end; 
}

.btn-mobile{
    display: inline-flex;
    align-items: flex-end; 
    justify-content: center;
    width: 100%;
}


.title{
    @include dFlex($jc: space-between);
}

.short-stick{
    height: 4px;
    width: 100%;
    background-color: #4B47FF;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    margin-right: 10px;
  }

  #Skills{
    scroll-margin-top: 80px;
  }

@media (max-width: 992px){
    .title{
        width: 100%;
    }

    .txt{
        margin-bottom: 50px;
        width: 100%;
    }

    .grid-skills{
        margin-bottom: 50px;
        gap: 60px;
        margin-right: 40px;
    }

    .btn-desktop{
        display: none;
    }

    .btn-mobile{
        margin-bottom: 50px;
    }
    .container{
        flex-direction: column-reverse;
    }

    .btn{
        @include dFlex();
    }

    .mobile-left{
        width: 100%;
    }
}


  .skill-img {
    display: block;
    transition: transform 0.3s;
 
  }
  
  .skill:hover .skill-img {
    animation: jump 0.3s ease-in-out;
  }
  
  @keyframes jump {
    0%, 100% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-10px);
    }
  }



@media (max-width: 992px){
    .container{
        background: 
        url('./../../../assets/images/shapes/bottom.png') calc(100% + 230px) 185px / contain no-repeat, 
    ;
    }
}
@media (max-width: 700px){
    .grid-skills{
        gap: 30px;
    }
}

@media (max-width: 450px){
    .grid-skills{
        gap: 10px;
        img{
            width: 42px;
            height: 45px;
        }
        margin-left: 0;
        margin-right: 0;
    }

    .mobile-left{
        @include dFlex($r: column);
        width: 100%;
    }
}




@media (min-width: 320px){
    .txt{
        p{
            margin-left: 50px;
        }
    }
    
}

@media (min-width: 992px){
    .btn-mobile{
        display: none;
    }

    .container{
        background-image: none;
        justify-content: center;
    }    

}
@media (min-width: 1500px){

    .container{
        gap: 250px;
    }    

}

