<div id="Skills" class="container">
    <div data-aos="" class="mobile-left">
        <div class="grid-skills">
            @for (skill of skills; track $index) {
                <div class="c{{$index+1}} skill">
                    <img class="skill-img" src="assets/images/icons/{{skill.image}}.svg" alt="">
                    <div>{{skill.name}}</div>
                </div>
            }
        </div>
        <div class="btn-mobile">
            <a href="#Contact" class="btn">
                <button data-translate-key="kont">Get in touch</button>
            </a>
        </div>
    </div>
    <div data-aos="" class="d-column txt">
        <div data-aos="fade-down" class="title">
            <div class="short-stick"></div>
            <h1>Skills</h1>
            <div style="width: 100%;"></div>
        </div>
        <p data-translate-key="skill-txt">I have gained experience in building projects with various frontend technologies and concepts.</p>
        <div class="btn-desktop">
            <a href="#Contact">
                <button data-translate-key="kont">Get in touch</button>
            </a>
        </div>
    </div>
</div>
