
<div class="container">
    <div class="d-column front-page">
        <div class="text">
            <span class="vertical">I am</span>
            <div class="d-column start">
                <h1 class="name">Iqbal Adel</h1>
                <span class="job">Frontend Developer</span>
            </div>
        </div>
        <a href="#Contact" class="btn">
            <button>Let's talk!</button>
        </a>
    </div>
    <div class="links">
        <div class="short-stick"></div>
        <div class="icons-div">
            <a href="https://github.com/IqbalAdel">
                <img class="icon" src="assets/images/icons/gitsmall.svg" alt="">
            </a>
            <a href="mailto:Iqbal.Adel97@gmx.de">
                <img class="icon" src="assets/images/icons/mailsmall.svg" alt="">
            </a>
            <a href="#">
                <img class="icon" src="assets/images/icons/linksmall.svg" alt="">
            </a>
        </div>
</div>
</div>
