
<div class="container">
    <div class="d-column front-page">
        <div class=" transparent aot slide">
            <div class="transparent">
                <img class="profile transparent" src="assets/images/bg-long.png" alt="">
            </div>
            <div class="transparent">
                <span data-translate-key="i" class="vertical">I am</span>
                <div class="d-column start">
                    <h1 class="name">Iqbal Adel</h1>
                    <span class="job">Frontend Developer</span>
                </div>
            </div>
        </div>
        <a href="#Contact" class="btn">
            <button>Let's talk!</button>
        </a>
        <div class="links">
            <div class="short-stick"></div>
            <div class="icons-div">
                <a rel=”noreferrer” target="_blank" href="https://github.com/IqbalAdel">
                    <img class="icon" src="assets/images/icons/gitsmall.svg" alt="">
                </a>
                <a href="mailto:Iqbal.Adel97@gmx.de">
                    <img class="icon" src="assets/images/icons/mailsmall.svg" alt="">
                </a>
                <a rel=”noreferrer” target="_blank" href="https://www.linkedin.com/in/iqbal-adel97/">
                    <img class="icon" src="assets/images/icons/linksmall.svg" alt="">
                </a>
            </div>
            <div style="width: 100%;"></div>
        </div>
    </div>
</div>
