@import './../../../styles.scss';

.d-flex{
    @include dFlex();
}

.container{
    padding-top: 150px;
    width: 100%;
    height: 100vh;
    background-color: transparent;
    background:
    url('./../../../assets/images/shapes/mobile-bottom.png') 0px 270px/100vw 100vh no-repeat,
    url('./../../../assets/images/shapes/left-landing.png') -250px -15px / contain no-repeat,
    url('./../../../assets/images/shapes/right-landing.png') calc(100% + 350px) -100px / contain no-repeat,;

    a{
        text-decoration: none;
    }
        
}


.front-page{
    width: 100%;
    height: 100%;
    background-color: transparent;

}

.start{
    @include dFlex($r: column, $ai: flex-start);
    background-color: transparent;
    margin-right: 15px;
}

.text{
    @include dFlex($ai: flex-end);
    background-color: transparent;


}

.vertical{
    transform: rotate(270deg);
    font-size: 80px;
    margin-bottom: 40px;
    background-color: transparent;

}
.name{
 font-weight: bold;
 font-size: 100px;
 background-color: transparent;

}

.job{
    font-size: 43px;
    color:#4B47FF;
    background-color: transparent;


}

.btn{
    background-color: transparent;
    @include dFlex();
    width: 100%;
    margin-top: 40px;
    >button{
        color: white;
        border-radius: 10px;
        padding: 10px 30px 10px 30px;
        border: none;
        font-size: 23px;
        cursor: pointer;
        background-color: #00BEE8;
        transition: all 125ms ease-in-out;
        &:hover{
            background-color: #4B47FF;
            transform-origin: top center;
            transform: scale(1.15);
        }
    }
}

.links{
    @include dFlex($jc: flex-start);
    margin-top: 150px;
    background-color: transparent;
}

.short-stick{
    height: 4px;
    width: 100%;
    background-color: #4B47FF;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    margin-right: -10px;
}

.icon{
    width: 30px;
    height: 30px;
    margin-left: 40px;
    cursor: pointer;
    &:hover{
        transform: scale(1.25);
    }
    transition: all ease-in-out 75ms;
}

.icons-div{
    display: flex;
    background-color: transparent;
    a{
        background-color: transparent;
    }
}

@keyframes slideIn {
    from {
      transform: translateY(-100px);
      opacity: 0;
    }
    to {
      transform: translateY(0);
      opacity: 1;
    }
  }
  
  .slide {
    animation: slideIn 1s ease-in-out;
  }

.profile {
    object-fit: contain;
    width: 100%;
    height: 100%;
    // margin-top: 250px

}

.aot{
    @include dFlex()
}

.transparent{
    background-color: transparent;
}

@media(max-width: 992px){
    .aot{
        @include dFlex($r: column)
    }
}
@media(max-width: 500px){
    .container{
        background:
        url('./../../../assets/images/shapes/mobile-bottom.png') 0px 270px/100vw 100vh no-repeat,
        url('./../../../assets/images/shapes/left-landing.png') -200px -15px / contain no-repeat,
        url('./../../../assets/images/shapes/right-landing.png') calc(100% + 250px) -20px / contain no-repeat,;
    }
}

@media(min-width: 320px){
    .vertical{
        font-size: 32px;
        margin-bottom: 20px;
    }

    .name{
        font-size: 40px;
    }

    .job{
        font-size: 23px;
    }
}

@media(min-width: 355px){
    .vertical{
        font-size: 35px;
    }

    .name{
        font-size: 40px;
    }

    .job{
        font-size: 25px;
    }


}
@media(min-width: 400px){
    .start{
        margin-right: 25px;
    }

}


@media(min-width: 450px){
    .vertical{
        font-size: 50px;
        margin-bottom: 25px;

    }

    .name{
        font-size: 60px;
    }

    .job{
        font-size: 32px;
    }
}

@media(min-width: 550px){
    .vertical{
        font-size: 60px;
    }

    .name{
        font-size: 70px;
    }

    .job{
        font-size: 36px;
    }
}
@media(min-width: 600px){

    .start{
        margin-right: 75px;
    }
}
@media(min-width: 650px){
    .vertical{
        font-size: 70px;
        margin-bottom: 30px;

    }

    .name{
        font-size: 80px;
    }

    .job{
        font-size: 40px;
    }

    .container{
        background:
        url('./../../../assets/images/shapes/mobile-bottom.png') 0px 270px/100vw 100vh no-repeat,
        url('./../../../assets/images/shapes/left-landing.png') -500px -15px/contain no-repeat,
        url('./../../../assets/images/shapes/right-landing.png') calc(100% + 540px) -75px / contain no-repeat,;
    }

}

@media(min-width: 750px){
    .vertical{
        font-size: 75px;
        margin-bottom: 35px;

    }

    .name{
        font-size: 90px;
    }

    .job{
        font-size: 44px;
    }

}

@media(min-width: 850px){
    .vertical{
        font-size: 85px;
        margin-bottom: 40px;
    }

    .name{
        font-size: 100px;
    }

    .job{
        font-size: 48px;
    }

}

@media(min-width: 950px){
    .vertical{
        font-size: 90px;
        margin-bottom: 45px;

    }

    .name{
        font-size: 110px;
    }

    .job{
        font-size: 52px;
    }

}

@media(min-width: 1050px){
    .vertical{
        font-size: 100px;
        margin-bottom: 50px;

    }

    .name{
        font-size: 120px;
    }

    .job{
        font-size: 56px;
    }

}

@media(min-width: 1150px){
    .vertical{
        font-size: 105px;
        margin-bottom: 55px;

    }

    .name{
        font-size: 130px;
    }

    .job{
        font-size: 60px;
    }

}

@media(min-width: 1250px){
    .vertical{
        font-size: 110px;
        margin-bottom: 60px;

    }

    .name{
        font-size: 140px;
    }

    .job{
        font-size: 64px;
    }

}


@media(min-width: 1350px){
    .vertical{
        font-size: 115px;
        margin-bottom: 65px;

    }

    .name{
        font-size: 150px;
    }

    .job{
        font-size: 68px;
    }
}

@media(min-width: 1450px){
    .vertical{
        font-size: 120px;
        margin-bottom: 70px;

    }

    .name{
        font-size: 150px;
    }

    .job{
        font-size: 72px;
    }
}

@media(min-width: 1550px){
    .vertical{
        font-size: 125px;
        margin-bottom: 75px;

    }

    .name{
        font-size: 160px;
    }

    .job{
        font-size: 76px;
    }
}

