<section>
    <div style="margin-bottom: 30px;">
        <div class="title-return">
            <h1 style="margin-bottom: 15px;">Impressum</h1>
            <a href="./index.html" class="pointer">
                <img src="./img/arrow-left-line.png" alt="">
            </a>
        </div>
        <p>Iqbal Adel<br />
        Nachtigallenstra&szlig;e 36<br />
        63263 Neu-Isenburg</p>
    </div>
    <div>
        <h2 style="margin-bottom: 15px;">Kontakt</h2>
        <p>Telefon: 06102 560988<br />
            <a href="mailto:IAdel@gmx.de">IAdel&#64;gmx.de</a>
        </p>

        <p>Quelle: <a href="https://www.e-recht24.de">e-recht24.de</a></p>
    </div>
</section>
