<section>
    <div id="imprint">
    <div style="margin-bottom: 30px;">
        <div class="title-return">
            <h1 data-translate-key="imprint" style="margin-bottom: 15px;">Imprint</h1>
        </div>
        <p>Iqbal Adel<br />
        Nachtigallenstra&szlig;e 36<br />
        63263 Neu-Isenburg</p>
    </div>
    <div>
        <h2 data-translate-key="Header_contact" style="margin-bottom: 15px;">Contact</h2>
        <p>Telefon: 06102 560988<br />
            <a href="mailto:IAdel@gmx.de">IAdel&#64;gmx.de</a>
        </p>

        <p>Quelle: <a href="https://www.e-recht24.de">e-recht24.de</a></p>
    </div>
    </div>
</section>
