@import './../../../styles.scss';

.d-flex{
  @include dFlex();
}

.d-colum{
  @include dFlex($r: column);
}

a{
  text-decoration: none;
}

h2{
  background-color: transparent;
}

strong{
  background-color: transparent;
}

.container{
  width: 100%;
  height: auto;
  background-color: transparent;
  background: 
        url('./../../../assets/images/shapes/port-right.png') -200px 100px / contain no-repeat;
  p{
    border-radius: 10px;
  }
}

input[type=text],input[type=email], select, textarea {
    width: 100%; 
    padding: 15px 50px 15px 25px;
    gap: 10px; 
    border: 1px solid #4B47FF; 
    border-radius: 10px; 
    margin-top: 6px;
    resize: vertical;
    cursor: pointer;
    color: white;
    background-color: #141D2F !important;
    font-size: 16px;

    


    &:focus{
      border-color: #00BEE8;
    }
    &:hover{
      border-color: #00BEE8;
    }

  }

input:focus{
  border: red;
}
  
  
input[type=submit] {
  color: white;
  padding: 15px 30px 15px 30px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  gap: 10px;
  width: 253px;
  height: 58px;
  font-size: 23px;
  margin-top: 20px;
  margin-bottom: 50px;
}


.not-submit{
  background-color: #B6B6B6;
}

.submit{
  background-color: #00BEE8;
}

.error-box{
  height: 30px;
  margin-bottom: 20px;
}

.error{
  color: #E61C40;
  font-size: 14px;
  padding-left: 20px;
  padding-right: 20px;
  border-radius: 5px;
}

.alert{
  background-image: url("./../../../assets/images/signs-symbols/alert.png");
  background-repeat: no-repeat;
  background-position: calc(100% - 20px) calc(50%);
  border-color: #E61C40 !important;

}

.correct{
  background-image: url("./../../../assets/images/signs-symbols/correct.png");
  background-repeat: no-repeat;
  background-position: calc(100% - 20px) calc(50%);
  border-color: #70E61C !important;
}

.alert-message{
  background-image: url("./../../../assets/images/signs-symbols/alert.png");
  background-repeat: no-repeat;
  background-position: calc(100% - 20px) calc(10%);
  border-color: #E61C40 !important;

}

.correct-message{
  background-image: url("./../../../assets/images/signs-symbols/correct.png");
  background-repeat: no-repeat;
  background-position: calc(100% - 20px) calc(10%);
  border-color: #70E61C !important;
}


.privacy-check{
  @include dFlex();
  
}

.piv{
  margin-top: 10px;
  @include dFlex($r: column, $ai: flex-start);
  a{
    background-color: transparent;
  }
  >div{
    margin-bottom: 10px;
  }
}

label input {
  display: none;
}

label{
  margin-right: 10px;

}

label span {
  height: 18px;
  width: 18px;
  border-radius: 2px;
  border: 2px solid #00BEE8;
  background-color: #141D2F;
  display: inline-block;
  position: relative;
  cursor: pointer;
}

[type=checkbox]:checked + .check-span:before {
  content: '\2714';
  position: absolute;
  top: -2px;
  left: 2px;
  font-size: 12px;
  color: #00BEE8;
}


::placeholder{
  color: white;
  font-size: 16px;
}

input:focus::placeholder {
  color: transparent;
}
textarea:focus::placeholder {
  color: transparent;
}

input:focus::-webkit-input-placeholder { color:transparent; }
input:focus:-moz-placeholder { color:transparent; }
input:focus::-moz-placeholder { color:transparent; } 
input:focus:-ms-input-placeholder { color:transparent; }

textarea:focus::-webkit-input-placeholder { color:transparent; }
textarea:focus:-moz-placeholder { color:transparent; }
textarea:focus::-moz-placeholder { color:transparent; } 
textarea:focus:-ms-input-placeholder { color:transparent; } 
  
input:-internal-autofill-selected,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active{
    background-color: #141D2F !important;
}



.container{
  @include dFlex($ai: flex-start);

  h2{
    font-size: 32px;
    // margin-bottom: 30px;
  }

  padding-left: 20px;
  padding-right: 20px;
}

.contact-text{
  width: 500px;
  margin-right: 140px;
  background-color: transparent;
  p{
    background-color: transparent;
    strong{
      background-color: transparent;
    }
  }
}

.contactForm{
  background-color: transparent;
  form{
    background-color: transparent
  }
  div{
    background-color: transparent;
    p{
      background-color: transparent;
      width: fit-content;
    }
  }
}

.title{
  @include dFlex($jc: flex-start);
  margin-bottom: 90px;
}

.short-stick{
  height: 4px;
  width: 100%;
  background-color: #4B47FF;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}

#Contact{
  scroll-margin-top: 80px;
}

.up-img{
  @include dFlex($jc: flex-end);
}

@media (max-width: 992px) {
  .container{
    @include dFlex($r: column);
    
  }

  .contact-text{
    width: 650px;
    margin-bottom: 50px;
  }

  .title{
    margin-bottom: 0;
    margin-top: 100px;
  }
}

@media (max-width: 850px) {
  .contact-text{
    width: auto;
    margin-right: 0;  
  }
}
@media (max-width: 550px) {
  .title{
    h1{
      margin-left: 15px;
    } 
  }
}


@media (min-width: 550px) {
  .header{
    span{
      margin-left: 20px;
    }
  }

  .short-stick{
    margin-right: 40px;
  }
}
@media (min-width: 600px) {
  .container{
    background: 
        url('./../../../assets/images/shapes/port-right.png') calc(100% - 300px) 0px / contain no-repeat, 
  }
}



@media (min-width: 752px) {

  .container{
    background: 
        url('./../../../assets/images/shapes/port-right.png') calc(100% - 500px) -50px / contain no-repeat, 
  }
}
@media (min-width: 992px) {

  .container{
    background: 
        url('./../../../assets/images/shapes/port-right.png') calc(100% + 200px) -25px / contain no-repeat, 
  }

  .contact-text{
    margin-left: 20px;
    margin-right: 70px;
  }

  .contactForm{
    margin-right: 50px;
  }
}
@media (min-width: 1500px) {
  .contact-text{
    margin-right: 140px;
  }

 
}






