*{
    font-family: Poppins, Arial, Helvetica, sans-serif;
    margin: 0;
    box-sizing: border-box;
    background-color: #141D2F;
    scroll-behavior: smooth;
}

.title{
    h1{
        font-weight: bold;
        font-size: 80px;
    }
}

@media(max-width: 700px){
    .title{
      h1{
        font-size: 50px;
      }
    }
  }

@mixin dFlex($d:flex, $jc:center, $ai:center, $r: row){
    display: $d;
    justify-content: $jc;
    align-items: $ai;
    flex-direction: $r;
}


@font-face {
    font-display: swap;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    src: url('assets/font/Poppins-Regular.ttf') format('woff2');
}

@font-face {
    font-display: swap; 
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    src: url('assets/font/Poppins-Bold.ttf') format('woff2'); 
}
